<footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Company Details</h6>
      <address class="btmspace-15">
      Quick Stack<br>
      9 Elm street &amp; 547<br>
      New Ark<br>
      5984/Zip
      </address>
      <ul class="nospace">
        <li class="btmspace-10"><span class="fa fa-phone"></span> +91 (123) 456 7890</li>
        <li><span class="fa fa-envelope-o"></span> info@quickstack.com</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>