<nav id="mainav" class="fl_right">
    <ul class="clear">
      <li class="active" href="/" target="_self">HOME</li>
      <li><a href="/storage" target="_self">STORAGE UNITS</a></li>
      <li><a class="active" href="/about" target="_self">ABOUT US</a></li>
      <li><a class="active" href="/login">LOGIN</a></li>
      
    </ul>
  </nav>