<!DOCTYPE html>

<html>
<head>
<title>QuickStack - Inventory Management</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/layout.css" rel="stylesheet" type="text/css" media="all">
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
</style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('/backgrounds/01.jpg');">
  <div class="overlay"> 
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row0">
      <%- include ('./partials/header.ejs') %>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
      <header id="header" class="clear"> 
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
          <%- include ('./partials/logo.ejs') %>
        </div>
        <%- include ('./partials/nav.ejs') %>
        <!-- ################################################################################################ -->
      </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
      <section id="pageintro" class="clear"> 
        <!-- ################################################################################################ -->
        <p class="font-x3 uppercase">Inventory Management simplified</p>
        <i class="fa fa-5x fa-pagelines"></i>
        <h2 class="font-x2 capitalise">Smart solution for inventory management, You name it We got it!!</h2>
        <a class="btn" href="#">Register</a> 
        <!-- ################################################################################################ -->
      </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="container clear center"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <article class="one_quarter first">
      <h2>Quick Stack</h2>
      <p class="btmspace-30">We offer inventory management for the most reasonable prices. Register now!!</p>
      <p class="nospace"><a class="btn" href="#">Register</a></p>
    </article>
    <article class="one_quarter"><i class="icon circle btmspace-50 fa fa-life-ring"></i>
      <h4 class="font-x1"><a href="#">Track your inventory</a></h4>
      <p>Check space availability, manage space without any hassle.</p>
    </article>
    <article class="one_quarter"><i class="icon circle btmspace-50 fa fa-legal"></i>
      <h4 class="font-x1"><a href="#">Best Discount Deals!</a></h4>
      <p>We offer discount deals every month and on all festive seasons!</p>
    </article>
    <article class="one_quarter"><i class="icon circle btmspace-50 fa fa-cogs"></i>
      <h4 class="font-x1"><a href="#">Get in Touch</a></h4>
      <p>Need help, get in touch with our associate.</p>
    </article>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="container clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first"><a href="#"><img src="/storage.png" alt=""></a></div>
    <div class="two_third">
      <p class="nospace btmspace-15 capitalise">Now available!</p>
      <h1 class="uppercase btmspace-50">Storage Units of all Sizes</h1>
      <p>We offer Storage units of various sizes as per your needs. From the small storage units of 5'x10' to large storage units of size 10'x30' we got it all. For unit availability check our website regularly.</p>
      <p class="btmspace-30">We offer reasonable storage unit rent prices and also attractive discounts during festive seasons. If you fail to pay your rents on time the storage unit will be auctioned to the highest bidder. For more details download our storage guide.</p>
      <p class="nospace"><a class="btn" href="#">Book Now</a></p>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <figure class="container clear center figline"> 
    <!-- ################################################################################################ -->
    <ul class="nospace inline pushright">
      <li><a href="#"><img src="/gallery/br1.jpg" alt=""></a></li>
      <li><a href="#"><img src="/gallery/br2.jpg" alt=""></a></li>
      <li><a href="#"><img src="/gallery/br3.jpg" alt=""></a></li>
      <li><a href="#"><img src="/gallery/br4.jpg" alt=""></a></li>
      <li><a href="#"><img src="/gallery/br5.png" alt=""></a></li>
    </ul>
    <!-- ################################################################################################ -->
  </figure>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <%- include ('./partials/footer.ejs') %>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">QuickStack</a></p>
    
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>